/*-- scss:defaults --*/

$body-bg: #f9cb4c;
$body-color: #555F69;
$link-color: #42affa;
$presentation-font-size-root: 25px;

// /*-- scss:rules --*/
// .reveal p {
//   font-weight: 200;
//   text-shadow: 1px 1px $body-bg;
// }